<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

    <div id="item-detail">
        <div class="detail-image">
            <img src="<%= locals.inv_image || '' %>"
            title="Details of <%= locals.inv_model || '' %> <%= locals.inv_make || '' %> on CSE Motors"
            alt="<%= locals.inv_model || '' %>_<%= locals.inv_make || '' %>" loading="lazy">
        </div>
        <div class="detail-info add-inventory">
            <form class="inventory-form" action="/inv/delete" method="post">
                    <fieldset>
                        <legend>Confirm Deletion: The deletion is permanent.</legend>
                        <label for="invMake">Make
                            <input type="text" name="inv_make" id="inv_make" readonly value="<%= locals.inv_make || '' %>">
                        </label>

                        <label for="invModel">Model
                            <input type="text" name="inv_model" id="inv_model" readonly value="<%= locals.inv_model || '' %>">
                        </label>

                        <label for="invPrice">Price
                            <input type="text" readonly value="<%= locals.inv_price || '' %>">
                        </label>

                        <label for="invYear">Year
                            <input type="text" readonly value="<%= locals.inv_year || '' %>">
                        </label>

                        <input type="hidden" name="inv_id" value="<%= locals.inv_id || '' %>">

                        <button type="submit" name="submit">Delete Vehicle</button>
                    </fieldset>
                </form>
            </div>
        </div>